{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--Intro-->

<div class="container pb-3">
    <div class="row mb-5">
        <h2 class="mb-5">Passeport Chats & Chiens, comment ça marche ?</h2>
        <div class="col-md-6 mb-4">
            <img class="cartepasseport" src="{% static 'images/cartepasseport.webp' %}" alt="passeport-chats-et-chiens">
        </div>
        <div class="col-md-6">
            <p>
                Imaginez un monde où prendre soin de votre animal devient plus simple, plus abordable et tellement
                gratifiant !
            </p>
            <p>
                Notre plateforme est là pour vous mettre en relation avec des entreprises de
                confiance répondant à tous les besoins de votre compagnon à poils, plumes ou écailles.
            </p>
            <p>
                Pour une modeste cotisation annuelle, vous bénéficierez d’avantages exclusifs : une
                réduction de 50 % sur votre premier achat puis d’une remise de 20 CHF sur votre deuxième dépense
                (dès 100.- d'achat)– par
                entreprise.
            </p>
            <p>
                Parce que votre animal mérite ce qu’il y a de mieux, et vous aussi !
            </p>
            <form class="form" action="{% url 'bag:add_to_bag' item_id=1 %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="quantity" value="1">
                <input type="hidden" name="redirect_url"
                    value="{% if 'checkout_success' not in request.path %}{{ request.path }}{% endif %}">
                <button type="submit" class="orange-btn">
                    🐈 C'est parti 🐕
                </button>
            </form>
        </div>
    </div>
</div>

<!--Services-->

<div class="container-fluid bg-lightgrey pb-5">
    <div class="container">
        <div class="row mb-4">
            <h3 class="mb-4 mt-5" mb-3>Quels services trouverez-vous sur Passeport Chats & Chiens ?</h3>
            <div class="col-md-3">
                <img class="illustration_services" src="{% static 'images/gardeetsurveillance.webp' %}"
                    alt="Garde et surveillance">
            </div>
            <div class="col-md-3">
                <img class="illustration_services" src="{% static 'images/loisirsetactivites.webp' %}"
                    alt="Loisirs et activités">
            </div>
            <div class="col-md-3">
                <img class="illustration_services" src="{% static 'images/produitsetaccessoires.webp' %}"
                    alt="Produits et accessoires">
            </div>
            <div class="col-md-3">
                <img class="illustration_services" src="{% static 'images/sante.webp' %}" alt="Santé">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-3">
                <img class="illustration_services" src="{% static 'images/soinsdebaseethygiene.webp' %}"
                    alt="Soins de base et hygiène">
            </div>
            <div class="col-md-3">
                <img class="illustration_services" src="{% static 'images/educationetcomportement.webp' %}"
                    alt="Education et comportement">
            </div>
            <div class="col-md-3">
                <img class="illustration_services" src="{% static 'images/assurancesetprotection.webp' %}"
                    alt="Assurances et protection">
            </div>
            <div class="col-md-3">
                <img class="illustration_services" src="{% static 'images/servicesfuneraires.webp' %}"
                    alt="Services funéraires">
            </div>
            <div class="text-center mt-2">
                <form class="form" action="{% url 'bag:add_to_bag' item_id=1 %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="quantity" value="1">
                    <input type="hidden" name="redirect_url"
                        value="{% if 'checkout_success' not in request.path %}{{ request.path }}{% endif %}">
                    <button type="submit" class="orange-btn">
                        🐈 Je souhaite gâter mon animal 🐕
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Animaux-->

<div class="container pb-5">
    <div class="row mb-4">
        <h3 class="mb-4 mt-5">Est-ce que cette carte est réservée aux chiens et chats ?</h3>
        <div class="col-md-6 pt-5">
            <p>
                Cette carte offre des avantages pour tous les animaux de compagnie, que ce soit des chats et de
                chiens, mais aussi des poissons, oiseaux, hamsters, chevaux, serpents, etc.
            </p>

            <form class="form mb-4" action="{% url 'bag:add_to_bag' item_id=1 %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="quantity" value="1">
                <input type="hidden" name="redirect_url"
                    value="{% if 'checkout_success' not in request.path %}{{ request.path }}{% endif %}">
                <button type="submit" class="orange-btn">
                    🐈 Tant mieux - Allons-y 🐕
                </button>
            </form>
        </div>
        <div class="col-md-6">
            <img class="cartepasseport" src="{% static 'images/colorfulanimals.webp' %}"
                alt="Une carte pour tous les animaux de compagnie">
        </div>
    </div>
</div>

<!--Advantages-->

<div class="container-fluid bg-lightgrey pb-5">
    <div class="container">
        <div class="row mb-4">
            <h3 class="mb-4 mt-5">Quels sont mes avantages avec ces cartes ?</h3>
            <div class="col-md-3">
                <img class="illustration_services" src="{% static 'images/moins50.webp' %}"
                    alt="Moins 50% sur votre premier achat">
            </div>
            <div class="col-md-3">
                <img class="illustration_services" src="{% static 'images/moins20.webp' %}"
                    alt="- CHF 20.- sur votre deuxième achat (dès 100.-)">
            </div>
            <div class="col-md-3">
                <img class="illustration_services" src="{% static 'images/ecologique.webp' %}"
                    alt="Carte 100% digitaligée pour le respect de dame nature">
            </div>
            <div class="col-md-3">
                <img class="illustration_services" src="{% static 'images/nombreuxpartenaires.webp' %}"
                    alt="De nombreux partenaires pour gâter votre animal">
            </div>
            <div class="text-center mt-2">
                <form class="form" action="{% url 'bag:add_to_bag' item_id=1 %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="quantity" value="1">
                    <input type="hidden" name="redirect_url"
                        value="{% if 'checkout_success' not in request.path %}{{ request.path }}{% endif %}">
                    <button type="submit" class="orange-btn">
                        🐈 Je suis partant 🐕
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Steps-->

<div class="container pb-5">
    <h3 class="mb-4 mt-5">Comment puis-je acquérir un passeport et l'activer ?</h3>
    <div class="row mb-4">
        <div class="col-md-6">
            <img class="illustration_services" src="{% static 'images/etapesillustration.webp' %}"
                alt="Un chien et un chat complice">
            <div class="text-center mt-2">
                <form class="form" action="{% url 'bag:add_to_bag' item_id=1 %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="quantity" value="1">
                    <input type="hidden" name="redirect_url"
                        value="{% if 'checkout_success' not in request.path %}{{ request.path }}{% endif %}">
                    <button type="submit" class="orange-btn">
                        🐈 Je souhaite bichonner mon animal 🐕
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row ">
                <div class="col-md-3">
                    <img class="illustration_services" src="{% static 'images/etape1.webp' %}" alt="Etape 1">
                </div>
                <div class="col-md-9">
                    <div class="h3-etapes">Etape 1</div>
                    <p>Achetez sur Passeport Chats & Chiens votre passeport et recevez par e-mail votre code
                        d'activation.</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-3">
                    <img class="illustration_services" src="{% static 'images/etape2.webp' %}" alt="Etape 2">
                </div>
                <div class="col-md-9">
                    <div class="h3-etapes">Etape 2</div>
                    <p>Créez un compte sur Passeport Chats & Chiens et enreistrez-vous en tant que propriétaire d'un
                        ou
                        de plusieurs animaux de companie.</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-3">
                    <img class="illustration_services" src="{% static 'images/etape3.webp' %}" alt="Etape 3">
                </div>
                <div class="col-md-9">
                    <div class="h3-etapes">Etape 3</div>
                    <p>Un fois connectée à votre compte, allez dans l'onglet "Mon code d'activation" et entrez le
                        code reçu pare-mail. Une fois cela fait, deux boutons appraîtront dans chaque descriptif de
                        service afin
                        que
                        vous
                        puissiez y downloader vos bons sous forme d'un pdf.</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-3">
                    <img class="illustration_services" src="{% static 'images/etape4.webp' %}" alt="Etape 4">
                </div>
                <div class="col-md-9">
                    <div class="h3-etapes">Etape 4</div>
                    <p>Annoncez-vous en tant que détenteur d'un Passeport Chats & Chiens lors de la prise de vos
                        rendez-vous avec nos partenaires. Et profitez des nombreux avantages offerts par votre
                        passeport
                        pour bichonner votre animal de compagnie.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}