{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page-wrapper">
    <div class="container">

        <!--Intro-->

        <div class="row ">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">

            </div>
        </div>

        <!--Services-->

        <div class="row ">
            <div class="col-md-3">

            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">

            </div>
        </div>

        <!--Advantages-->

        <div class="row ">
            <div class="col-md-3">

            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">

            </div>
        </div>

        <!--Steps-->

        <div class="row ">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <div class="row ">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}