{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block content %}
<div class="container page-wrapper">
        <div class="row">
                <div class="col-md-8 mt-3 offset-md-2">

                        <h3 class="logo-font mb-4">{% trans "Confirmez votre email" %}</h3>

                        {% if confirmation %}
                        {% user_display confirmation.email_address.user as user_display %}

                        <p>
                                {% blocktrans with confirmation.email_address.email as email %}
                                Merci de confirmer votre email {{ email }}.
                                {% endblocktrans %}
                        </p>

                        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                                {% csrf_token %}
                                <button class="orange-btn" type="submit">{% trans 'Confirm' %}</button>
                        </form>
                        {% else %}
                        <p>
                                {% blocktrans %}
                                Si cette demande a expirée, merci de demander à <a class="link"
                                        href="{{ email_url }}">un nouveau
                                        lien</a>.
                                {% endblocktrans %}
                        </p>
                        {% endif %}
                </div>
        </div>
</div>

{% endblock %}