{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container">
    <h3 class="mb-5">Mon profil</h3>

    <!---------- PetOwner Details Form (Create/Update) ---------->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="submit-btn">
            {% if pet_owner %}Mettre à jour{% else %}Créer{% endif %}
        </button>
    </form>

    <script>
        // JavaScript to dynamically update the delete form action
        document.addEventListener('DOMContentLoaded', function () {
            const deleteModal = document.getElementById('deleteModal');
            deleteModal.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;
                const actionUrl = button.getAttribute('data-href');
                const form = deleteModal.querySelector('#deleteConfirmForm');
                form.action = actionUrl;
            });
        });
    </script>

    {% endblock content %}