asgiref==3.8.1
Brotli==1.1.0
chardet==5.2.0
cloudinary==1.36.0
crispy-bootstrap5==0.7
cssselect2==0.7.0
dj-database-url==0.5.0
dj3-cloudinary-storage==0.0.6
Django==4.2.17
django-allauth==0.57.2
django-cloudinary-storage==0.3.0
django-crispy-forms==2.3
django-summernote==0.8.20.0
fonttools==4.56.0
gunicorn==20.1.0
html5lib==1.1
oauthlib==3.2.2
pillow==11.1.0
psycopg2==2.9.10
pydyf==0.11.0
PyJWT==2.10.1
pyphen==0.17.2
python3-openid==3.2.0
reportlab==4.3.1
requests-oauthlib==2.0.0
sqlparse==0.5.2
stripe==11.6.0
urllib3==1.26.20
weasyprint==62.2
whitenoise==5.3.0
zopfli==0.2.3.post1
