{% extends "base.html" %}

{% block head_title %}Nouveau mot de passe{% endblock head_title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3 class="mb-4">Définissez votre nouveau mot de passe</h3>

            {% if validlink %}
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="orange-btn">
                    Enregistrer le nouveau mot de passe
                </button>
            </form>
            {% else %}
            <p class="orange">Ce lien de réinitialisation est invalide ou a expiré.</p>
            {% endif %}
        </div>
    </div>
    {% endblock content %}