{% extends "base.html" %}
{% load widget_tweaks %}

{% block head_title %}Réinitialisation du mot de passe{% endblock head_title %}

{% block content %}
<div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
        <h3 class="mb-4">Réinitialisation de votre mot de passe</h3>

        <p class="mb-3">
            Saisissez votre adresse e-mail et recevez un lien de réinitialisation sur votre email.
        </p>

        <form method="POST">
            {% csrf_token %}
            <div class="mb-3 form-control">
                {{ form.email.label_tag }}
                {{ form.email|append_attr:"form-control" }}
                {% if form.email.errors %}
                <div class="orange">{{ form.email.errors }}</div>
                {% endif %}
            </div>
            <button type="submit" class="orange-btn">
                Réinitialiser mon mot de passe
            </button>
        </form>
    </div>
</div>
{% endblock content %}