{% extends "base.html" %}

{% block head_title %}Lien envoyé{% endblock head_title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3 class="mb-4">Lien de réinitialisation envoyé</h3>

            <p class="mb-3">
                Si une adresse e-mail correspond à un compte, un e-mail contenant un lien de réinitialisation a été
                envoyé.
            </p>
            <p>Vérifiez votre boîte de réception (et vos spams).</p>
        </div>
    </div>
    {% endblock content %}