{% extends "base.html" %}

{% block head_title %}Mot de passe modifié{% endblock head_title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3 class="mb-4">Mot de passe modifié avec succès</h3>

            <p class="mb-3">
                Votre mot de passe a bien été modifié. Vous pouvez maintenant à nouveau vous connecter.
            </p>

            <a href="{% url 'account_login' %}" class="orange-btn">Se connecter</a>
        </div>
    </div>
</div>
{% endblock content %}