{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2>Notice sur les cookies 🍪</h2>

<h3>Que sont les cookies ?</h3>
<p>Les cookies sont des fichiers textes qui sont placés sur votre ordinateur par les sites web que vous visitez, afin
    que des informations sur votre navigation puissent être collectées. Nous utilisons le terme “cookie” pour désigner
    toute technologie qui collecte des informations à partir de votre appareil, en particulier sur l’utilisation de
    notre site web, l’identification de l’appareil, l’adresse IP et le type de navigateur, les données démographiques ou
    l’URL de la page d’où vous provenez. Nous utilisons également des balises web et pixels pour nous permettre de
    compter les visiteurs qui ont vu nos pages ou lu nos messages promotionnels. Ils ne sont pas utilisés pour accéder à
    vos données personnelles sans votre consentement.</p>

<h3>Pourquoi utilisons-nous des cookies ?</h3>
<p>Nous utilisons des cookies aux fins principales suivantes :</p>
<ul>
    <li><span class="bold">Les cookies fonctionnels</span> sont liés au bon fonctionnement du site web, y compris le
        paramétrage
        des préférences de confidentialité et la conservation des informations du panier jusqu’au paiement.</li>
    <li><span class="bold">Les cookies de statistiques</span> sont mis en place pour nous permettre de mesurer le nombre
        de
        visites et de cartographier les mouvements des utilisateurs sur le site web, afin d’optimiser l’expérience de
        l’utilisateur.</li>
    <li><span class="bold">Les cookies de marketing</span> permettent de suivre l’utilisateur sur plusieurs sites web et
        de créer
        des profils d’utilisateurs à des fins de publicité personnalisée et ciblée.</li>
</ul>

<h3>Quels cookies utilisons-nous ?</h3>
<p class="bold">Cookies fonctionnels :</p>
<ul>
    <li>Django Cookies
</ul>
<p class="bold">Cookies de statistiques :</p>
<ul>
    <li>Google Tag Manager</li>
    <li>Google Analytics</li>
</ul>
<p class="bold">Cookies de marketing :</p>
<ul>
    <li>Aucun</li>
</ul>

<h3>Dois-je accepter les cookies ?</h3>
<p>Les cookies fonctionnels (strictement nécessaires) sont automatiquement placés lorsque vous visitez le site web et ne
    peuvent être désactivés sans perte de fonctionnalité. Vous pouvez configurer votre navigateur pour qu’il bloque ces
    cookies, mais cela pourrait empêcher certaines parties du site de fonctionner correctement. Vous pouvez choisir
    d’accepter ou de refuser les cookies de statistiques ou les cookies de marketing en visitant le centre de
    préférences. Veuillez noter que vous pouvez retirer ou donner votre consentement à tout moment en visitant le centre
    de préférences. Vous pouvez également personnaliser vos paramètres de cookies en utilisant votre navigateur web.
    Notre site web utilise la suite Google et d’autres plugins référencés ci-dessus. Veuillez noter qu’en acceptant ces
    cookies, vous acceptez qu’une partie de vos données personnelles soient transférées aux États-Unis par Google. Il
    vous est toutefois possible de refuser en utilisant notre centre de préférences. Lorsque vous visitez notre site
    web, vous pouvez être dirigé vers d’autres sites web. Ces sites web tiers peuvent placer leurs propres cookies. Nous
    n’avons aucun contrôle sur le placement de cookies par des sites web tiers, même si vous y avez accédé depuis notre
    site web.</p>

<p class="bold">Passeport Chats & Chiens | Digital Growth Agency Sarl – Mars 2025</p>

{% endblock content %}