{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container">
    <h2 class="mb-5">Mentions légales ⚖️ </h2>
    <p>Ce site web est exploité par Passeport Chats & Chiens | Digital Growth Agency Sarl, rue du Vieux-Marché 10, 1260
        Nyon.
        Vous pouvez nous joindre par e-mail et par courrier. En utilisant et en naviguant
        sur notre site web, vous acceptez d’être liés à nos mentions légales.</p>

    <h3 class="h3-grpd">Propriété intellectuelle</h3>
    <p>Le contenu de notre site web, sa structure générale, les photographies et les images, les vidéos, les
        infographies, les textes et autres documents dont notre site web est composé, sont de notre propriété exclusive
        ou sont utilisés avec la permission de leurs titulaires et sont protégés par des droits d’auteur, droits de
        marque et autres droits de propriété intellectuelle. Toute représentation ou reproduction totale ou partielle de
        notre site web ou de son contenu, par quelque procédé que ce soit, sans avoir obtenu notre autorisation
        préalable expresse est interdite et constitue une contrefaçon sanctionnée par la loi.</p>

    <h3 class="h3-grpd">Licence d’utilisation</h3>
    <p>Le droit d’usage conféré à l’utilisateur sur notre site web est personnel et privé. Toute représentation,
        reproduction, diffusion ou autre usage du contenu du site web sur un quelconque support pour un usage
        commercial, sont prohibés. Le droit d’utilisation comprend uniquement l’autorisation de consulter le site web et
        son contenu. Tout autre usage est soumis à notre autorisation expresse préalable.</p>

    <h3 class="h3-grpd">Limitation de responsabilité</h3>
    <p>Malgré le fait que nous accordions énormément d’attention à la création de notre site web, nous ne pouvons pas
        garantir l’exactitude, ni le caractère complet des informations publiées. Nous ne pouvons également pas garantir
        que le site web et/ou les serveurs qui l’hébergent fonctionneront sans interruptions, dysfonctionnements,
        erreurs, virus ou autres composants préjudiciables ou que ces problèmes pourront et seront résolus. En utilisant
        et naviguant sur notre site web, vous consentez expressément aux limitations de notre responsabilité pouvant
        résulter de l’usage de notre site web.</p>

    <h3 class="h3-grpd">Lien vers d’autres sites internet</h3>
    <p>Le site web peut renvoyer à d’autres sites web de tiers, qui ne sont pas sous notre contrôle. Nous n’assumons
        aucune responsabilité quant au contenu de sites tiers et les renvois de notre site web à des sites tiers ne
        constituent pas une recommandation ou une approbation des opinions exprimées en leur sein.</p>

    <h3 class="h3-grpd">Protection des données</h3>
    <p>Nous nous engageons à respecter vos données personnelles. Pour plus d’informations concernant la manière dont
        nous collectons, utilisons et partageons vos données, vous pouvez consulter notre politique de confidentialité.
    </p>
    <p>Passeport Chats & Chiens | Digital Growth Agency Sarl – Avril 2026</p>
</div>


{% endblock content %}