{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2 class="mb-5">Politique de confidentialité 🔐</h2>
    <p>Passeport Chats & Chiens | Digital Growth Agency Sarl, rue du Vieux-Marché 10, 1260 Nyon est le responsable du
        traitement de vos données personnelles collectées dans le cadre de cette notice de confidentialité. Nous
        respectons votre vie privée et nous nous engageons à une transparence totale quant à la manière dont nous
        collectons,
        utilisons et partageons vos données personnelles. La présente notice de confidentialité vous informe comment
        nous traitons
        les données personnelles que nous recueillons auprès de vous, que vous nous fournissez ou que nous pouvons
        recueillir auprès d’autres sources. Cela comprend les différentes façons dont vous interagissez avec nous,
        notamment en
        personne, par email ou par téléphone, par l’intermédiaire de notre site web ou encore de nos pages sur les
        réseaux sociaux. Pour toute question afférente à vos données personnelles, vous pouvez nous contacter par
        email ou par courrier.</p>

    <h3 class="h3-grpd">Notre notice de confidentialité</h3>
    <p>En interagissant avec nous ou en nous communiquant vos données personnelles, vous acceptez les règles décrites
        dans
        cette notice de confidentialité. Si vous n’acceptez pas ces règles, veuillez ne pas utiliser ou visiter notre
        site
        web ni nous fournir vos données personnelles. Passeport Chats & Chiens | Digital Growth Agency Sarl se réserve
        le
        droit d’apporter des modifications à cette notice de confidentialité, qui seront effectives dès leur publication
        sur
        notre site web. Veillez à consulter notre site web régulièrement pour tout changement.</p>

    <h3 class="h3-grpd">Quelles données personnelles collectons-nous ?</h3>
    <p>Lorsque vous interagissez avec nous, par exemple via notre site web et notre App, nos comptes de médias sociaux,
        par
        email ou par téléphone, lorsque vous visitez nos locaux physiques ou lors d’événements, nous pouvons être amenés
        à
        collecter vos données personnelles. Nous ne collectons que les données personnelles que vous nous communiquez,
        qui
        résultent de vos actions sur notre site web et/ou dont nous avons besoin pour vous offrir ou améliorer notre
        offre
        de produits, ou encore sur la base d’un autre intérêt légitime.</p>

    <h3 class="h3-grpd">Pourquoi collectons-nous vos données personnelles et sur quelles bases légales ?</h3>
    <p>Nous collectons et utilisons vos données personnelles afin de répondre à vos questions et demandes de
        renseignements,
        traiter vos requêtes et instructions en lien avec les services que nous proposons, optimiser votre expérience
        d’utilisateur/trice sur notre site web, et répondre à des besoins de sécurité et de maintenance. Nous traitons
        vos
        données sur une base précontractuelle et/ou contractuelle lors de toutes vos interactions avec Passeport Chats &
        Chiens | Digital Growth Agency Sarl liées à nos services.</p>

    <h3 class="h3-grpd">Avec qui partageons-nous vos données personnelles et sont-elles transférées à l’étranger ?</h3>
    <p>Nous ne vendons pas vos données personnelles. Nous pouvons partager vos données personnelles avec certains de nos
        fournisseurs et partenaires. Nous utilisons Google Analytics et d’autres outils de
        suivi, ce qui peut entraîner des transferts de données vers les États-Unis.</p>

    <h3 class="h3-grpd">Vos droits – Comment accéder à vos données personnelles et demander leur rectification</h3>
    <p>Vous pouvez exercer vos droits en nous contactant par email. Vous pouvez demander l’accès à vos données
        personnelles,
        ainsi que les corriger ou les mettre à jour.</p>

    <h3 class="h3-grpd">Comment vos données sont-elles stockées, sécurisées et conservées ?</h3>
    <p>Nous prenons toutes les précautions techniques et organisationnelles raisonnables pour sécuriser vos données
        personnelles contre toute perte, accès non-autorisé et autre violation. Lorsque les informations personnelles
        que
        nous recueillons ne sont plus requises, nous les détruisons ou les anonymisons.</p>
    <p>Passeport Chats & Chiens | Digital Growth Agency Sarl – Avril 2026</p>
</div>

{% endblock content %}