{% load static %}
{% url 'home' as home_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% load custom_tags %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>Passeport Chats & Chiens</title>
    <meta name="author" content="Philippe Tschanun">
    <meta name="description" content="
        Imaginez un monde où prendre soin de votre animal  devient plus simple, plus abordable et tellement gratifiant !
        Notre plateforme est là pour mettre en relation des propriétaires passionnés avec des entreprises de confiance répondant à tous les besoins de votre compagnon à poils, plumes ou écailles.
        Pour une petite cotisation annuelle, vous bénéficierez d’avantages exclusifs : profitez d'une réduction de 50 % sur votre premier achat et d’une remise de 20 CHF sur votre deuxième visite – par entreprise.
        Parce que votre animal mérite ce qu’il y a de mieux, et vous aussi ! ">
    <meta name="keywords"
        content="chat, chien, soin, réduction, passeport, animal, animal de compagnie, animal domestique, animaux de compagnie, animaux domestiques, suisse, suisse romande, genève, vaud, fribourg, neuchâtel, valais, jura">
    <link rel="icon" type="image/webp" sizes="64x64" href="{% static 'images/favicon.webp' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!---------- CSS ressources ---------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block extra_css %}
    {% endblock %}

    <!---------- Fontawesome ---------->
    <script src="https://kit.fontawesome.com/5b37147010.js" crossorigin="anonymous"></script>

    <!---------- Stripe ---------->
    <script src="https://js.stripe.com/v3/"></script>

</head>

<body class="d-flex flex-column h-100 main-bg">

    <!---------- Navigation ---------->

    <nav class="navbar navbar-expand-lg navbar-light w-100">
        <div class="container-fluid">
            <!-- First Menu Row -->
            <div id="topnav" class="row pt-lg-2 d-none d-lg-flex align-items-center w-100">

                <!-- Logo -->
                <div class="col-lg-4 text-center text-lg-start">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img class="logo" src="{% static 'images/logo.webp' %}" alt="logo">
                    </a>
                </div>

                <!-- Search bar -->
                <div class="col-lg-4">
                    <form method="GET" action="{% url 'home' %}">
                        <div class="input-group w-100">
                            <input class="form-control border border-black rounded-0" type="text" name="q"
                                placeholder="Rechercher">
                            <button class="white-paw btn btn-black border border-black rounded-0 bg-darkgrey"
                                type="submit">
                                <img class="search-icon" src="{% static 'images/search.webp' %}" alt="Search">
                            </button>
                        </div>
                    </form>
                </div>

                <!-- Account & Basket -->
                <div class="col-lg-4">
                    <ul class="list-inline d-flex justify-content-end align-items-center mb-0">
                        <!-- Account -->
                        <li class="list-inline-item dropdown">
                            <a class="text-black nav-link" href="#" id="user-options" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <img class="search-icon" src="{% static 'images/user.svg' %}" alt="User">
                                    <p class="my-0 darkgrey">Mon compte</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                {% if user|in_group:"Business Owners" %}
                                <a class="dropdown-item" href="{% url 'pet_business_form' %}">Mes services</a>
                                {% elif user|in_group:"Pet Owners" %}
                                <a class="dropdown-item" href="{% url 'pet_list' %}">Mes compagnons</a>
                                <a class="dropdown-item" href="{% url 'order_history' %}">Mes achats</a>
                                <a class="dropdown-item" href="{% url 'activate_code' %}">Mon code d'activation</a>
                                <a class="dropdown-item" href="{% url 'pet_owner_form' %}">Mon profil</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'account_logout' %}">Se déconnecter</a>
                                {% else %}
                                <a class="dropdown-item" href="{% url 'account_signup' %}">S'inscrire</a>
                                <a class="dropdown-item" href="{% url 'account_login' %}">Se connecter</a>
                                {% endif %}
                            </div>
                        </li>

                        <!-- Shopping Basket -->
                        <li class="list-inline-item">
                            <a class="nav-link" href="{% url 'bag:view_bag' %}">
                                <div class="text-center">
                                    <img class="search-icon" src="{% static 'images/basket.svg' %}"
                                        alt="Shopping basket">
                                    <p class="my-0 darkgrey">
                                        {% if total_ttc %}
                                        CHF {{total_ttc|floatformat:2 }}
                                        {% else %}
                                        CHF 0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- Second Menu Row (Main Navigation) -->

    <nav class="navbar navbar-expand-lg navbar-light bg-white w-100 p-3">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% include 'includes/mobile-top-header.html' %}
        {% include 'includes/main-nav.html' %}
    </nav>

    <!---------- Hero Section ---------->

    <div id="herosection">
        <div class="container">
            <div class="row align-items-center">
                <div class="relativeposition col-md-6 text-center order-2 order-md-1">
                    <div>
                        <img class="footpositon footprint mb-3" src="{% static 'images/dogfootprint.webp' %}"
                            alt="dog foot print">
                        <img class="dogposition heropet img-fluid" src="{% static 'images/heropet.webp' %}" alt="dog">
                    </div>
                </div>
                <div class="col-md-6 text-center text-md-start order-1 order-md-1">
                    <div>
                        <p class="bold mt-3">
                            Bienvenue{% if request.user.is_authenticated %} {{ request.user.first_name }}{% endif %}
                        </p>
                        <h1>Au petit soin...</h1>
                        <p>Tout comme vous, nous aimons les animaux de companies.</p>
                        <p>Découvrez tous nos services, intentions et nos instants de bonheur pensés pour choyer votre
                            animal bien-aimé.</p>

                        <!---------- Buying button ---------->
                        <form class="form" action="{% url 'bag:add_to_bag' item_id=1 %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="redirect_url"
                                value="{% if 'checkout_success' not in request.path %}{{ request.path }}{% endif %}">
                            <button type="submit" class="orange-btn">
                                🐈 Je commande mon passeport | -50% 🐕
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!---------- Newsletter registration pop-up ---------->

    <script src="https://forms.app/cdn/embed.js" type="text/javascript" async defer
        onload="new formsapp('67fe45941b6215000202d7b0', 'popup', {'overlay':'rgba(45,45,45,0.5)','width':'800px','height':'300px','autoOpen':{'action':'onpageload'},'openingAnimation':{'entrance':'animate__fadeIn','exit':'animate__fadeOut'}}, 'https://qj3fc6wz.forms.app');">
    </script>

    <!---------- Django Message ---------->

    <div class=" container ">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible
            fade show message-wrapper" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <main class="flex-shrink-0 main-bg">

        {% block content %}
        {% endblock content %}

    </main>

    <!---------- Footer ---------->

    <footer>
        <img class="footercat" src="{% static 'images/footercat.webp' %}" alt="cat">
        <div class="one-line">
            <p class="text-center">© 2025 Passeport Chats & Chiens</p>
            <a href="https://www.facebook.com/profile.php?id=61574054111145" target="_blank" rel="noopener noreferrer"
                role="contentinfo" aria-label="Lien vers Facebook">
                <img class="picto mb-3 white-paw" src="{% static 'images/facebook.svg' %}" alt="Facebook">
            </a>
        </div>
        <div class="text-center">
            <a class="darkgrey no-text-decoration" href="{% url 'legal_notice' %}">Mentions légales | </a>
            <a class="darkgrey no-text-decoration" href="{% url 'cookies_notice' %}">Notice sur les cookies | </a>
            <a class="darkgrey no-text-decoration" href="{% url 'privacy_policy' %}">Politique de confidentialité | </a>
            <a class="darkgrey no-text-decoration" href="#" onclick="openCookieBanner()">Gérer les cookies</a>
        </div>

        <div id="cookie-banner">
            <p>Gérer le consentement des cookies</p>
            <button class="orange-btn" onclick="setCookieConsent(true, true)">Accepter tous les cookies</button>
            <button class="orange-btn" onclick="setCookieConsent(true, false)">Refuser les cookies
                non-essentiels</button>
        </div>
    </footer>

    <!---------- JS ressources ---------->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="{% static 'js/cookies_consent.js' %}"></script>

    {% block extras %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

</body>

</html>