{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2 class="mb-5">Conditions Générales de Vente</h2>
    <h3 class="h3-cgv">Passeport Chats & Chiens</h3>

    <p>Le Passeport Chats & Chiens vous permet de bénéficier d’offres exclusives auprès de partenaires soigneusement
        sélectionnés. Ce document regroupe les règles d’utilisation et les conditions générales de vente, que vous
        acceptez pleinement dès votre inscription sur le site de Passeport Chats & Chiens.</p>

    <h3 class="h3-cgv">Validité</h3>
    <p>Le Passeport Chats & Chiens est valable dès son activation pour 365 jours.</p>

    <h3 class="h3-cgv">Fonctionnement des offres</h3>
    <ul>
        <li><strong>Première visite :</strong> rabais de 50 % sur un soin ou service (hors ventes de produits et
            matériel sauf exception explicitée sur le descriptif du partenaire).</li>
        <li><strong>Deuxième visite :</strong> bon de CHF 20.– valable dès CHF 100.– d’achat (hors ventes de produits et
            matériel sauf exception explicitée sur le descriptif du partenaire).</li>
    </ul>
    <p>Ces avantages peuvent être utilisés dans n’importe quel ordre et ne sont pas obligatoires. La réduction
        s’applique uniquement sur le soin ou service le plus cher en cas de prestations multiples lors d’une même
        visite. Les réductions sont valables uniquement sur les soins et services listés par chaque établissement sur
        notre site internet. Elles ne s’appliquent pas à l’achat de produits, matériel ou abonnements, sauf mention
        contraire.</p>

    <h3 class="h3-cgv">Réservation obligatoire</h3>
    <p>Pour profiter de vos avantages, il est indispensable de :</p>
    <ul>
        <li>réserver votre rendez-vous au moins 24 heures à l’avance,</li>
        <li>vous annoncer comme détenteur du Passeport Chats & Chiens,</li>
        <li>présenter le bon correspondant lors de votre venue.</li>
    </ul>

    <h3 class="h3-cgv">Transmissibilité</h3>
    <p>Votre Passeport Chats & Chiens est transmissible. Vous pouvez en faire bénéficier vos proches, amis ou collègues.
        Toutefois, un seul bon peut être utilisé par visite et par personne.</p>

    <h3 class="h3-cgv">Non-cumulabilité</h3>
    <p>Les avantages du Passeport Chats & Chiens ne sont pas cumulables avec d'autres offres ou promotions en cours dans
        l’établissement partenaire. Certaines exclusions peuvent s’appliquer, notamment pour les paiements par carte de
        crédit.</p>

    <h3 class="h3-cgv">Exceptions et restrictions</h3>
    <ul>
        <li>Non valable les jours fériés officiels, à la fête des mères, à la Saint-Valentin, ni la veille de ces
            journées (sauf exception mentionnée).</li>
        <li>Aucun remboursement partiel si le bon de CHF 20.– est utilisé partiellement.</li>
        <li>La liste actualisée des établissements partenaires est disponible en tout temps sur le site internet.</li>
    </ul>

    <h3 class="h3-cgv">Comportement et abus</h3>
    <p>Les établissements partenaires se réservent le droit de refuser le Passeport Chats & Chiens en cas de
        comportement inapproprié, de non-respect des règles ou d’abus (ex. : présentation de plusieurs passeports par
        une même personne).</p>

    <h3 class="h3-cgv">Objet</h3>
    <p>Les présentes Conditions Générales régissent la relation contractuelle entre l’acheteur et Passeport Chats &
        Chiens, service proposé par Digital Growth Agency Sàrl à Nyon.</p>

    <h3 class="h3-cgv">Achat et acceptation</h3>
    <p>Toute commande via notre boutique en ligne constitue une acceptation sans réserve des présentes conditions.
        L’achat est confirmé par notification et email. Le contrat de vente est conclu à réception de cette
        confirmation.</p>

    <h3 class="h3-cgv">Obligations de l’acheteur</h3>
    <p>L’acheteur s’engage à fournir des coordonnées valides et à régler le montant dû dans les délais impartis.</p>

    <h3 class="h3-cgv">Domicile de l’acheteur</h3>
    <p>Les produits sont exclusivement destinés aux personnes domiciliées en Suisse ou au Liechtenstein.</p>

    <h3 class="h3-cgv">Droit de rétractation</h3>
    <p>L’acheteur dispose d’un délai de 7 jours à compter de l’achat pour contester celui-ci, par écrit. Des frais de
        CHF 10.– seront retenus. Aucun remboursement si le Passeport a été utilisé ou si l’achat date de plus de 7
        jours.</p>

    <h3 class="h3-cgv">Prix et paiement</h3>
    <p>Les prix sont indiqués en francs suisses (CHF), TVA incluse.</p>

    <h3 class="h3-cgv">Partenaires</h3>
    <p>Les partenaires s’engagent avec Passeport Chats & Chiens pour une durée d’un an, renouvelable. Il est donc
        possible que certains établissements rejoignent ou quittent la liste des partenaires durant la période de
        validité de votre abonnement. Par conséquent, Passeport Chats & Chiens ne peut garantir l’accès à des offres
        préférentielles auprès des mêmes partenaires tout au long de l’année, y compris ceux présents au moment de
        l’achat.</p>

    <h3 class="h3-cgv">Protection des données</h3>
    <p>Passeport Chats & Chiens s’engage à respecter la confidentialité de vos données personnelles et à ne pas les
        transmettre à des tiers. Vous pouvez exercer votre droit d’accès et de rectification sur demande justifiée.</p>

    <h3 class="h3-cgv">Modifications des CGV</h3>
    <p>Ces conditions peuvent être modifiées à tout moment. La version applicable est celle en vigueur au moment de
        l’achat.</p>

    <h3 class="h3-cgv">Droit applicable et juridiction</h3>
    <p>Les présentes conditions sont régies par le droit suisse, en particulier les articles 184 et suivants du Code des
        Obligations. Le for juridique est établi à Lausanne, Suisse.</p>
    <p>Passeport Chats & Chiens | Digital Growth Agency Sarl – Avril 2026</p>
</div>
{% endblock content %}