<!DOCTYPE html>
<html>

<head>
</head>

<body>
    {% for voucher in vouchers %}
    <div class="voucher">
        <div class="header">VOTRE BON</div>
        <div class="details">
            <p><strong>Code unique:</strong> {{ voucher.code }}</p>
            <p><strong>Entreprise:</strong> {{ voucher.pet_business.firm }}</p>
            <p><strong>Adresse:</strong> {{ voucher.pet_business.street }} {{ voucher.pet_business.number }},
                {{ voucher.pet_business.npa }} {{ voucher.pet_business.locality }}</p>
            <p><strong>Utilisateur:</strong> {{ request.user.first_name }} {{ request.user.last_name }}</p>
            <p class="discount"><strong>Réduction:</strong>
                {% if voucher.discount_type == 'percentage' %}{{ voucher.discount_value }}%{% else %}CHF
                {{ voucher.discount_value }}{% endif %}</p>
            <p><strong>Achat minimum:</strong> CHF {{ voucher.minimum_purchase }}</p>
            <p><strong>Expire le:</strong> {{ voucher.date_expires|date:"d-m-Y H:i" }}</p>
        </div>
        <div class="footer">Valable jusqu'à expiration (90 jours). Nominatif.</div>
    </div>
    {% if not forloop.last %}
    <pagebreak />
    {% endif %}
    {% endfor %}
</body>

</html>