<!DOCTYPE html>
<html>

<head>
</head>

<body>
    {% for voucher in vouchers %}
    <div class="voucher">
        <div class="header">Voucher pour Animaux</div>
        <div class="details">
            <p><strong>Code:</strong> {{ voucher.code }}</p>
            <p><strong>Entreprise:</strong> {{ voucher.pet_business.firm }}</p>
            <p><strong>Adresse:</strong> {{ voucher.pet_business.street }} {{ voucher.pet_business.number }},
                {{ voucher.pet_business.npa }} {{ voucher.pet_business.locality }}</p>
            <p><strong>Propriétaire:</strong> {{ voucher.pet_owner.author.first_name }}
                {{ voucher.pet_owner.author.last_name }}</p>
            <p class="discount"><strong>Réduction:</strong>
                {% if voucher.discount_type == 'percentage' %}{{ voucher.discount_value }}%{% else %}CHF
                {{ voucher.discount_value }}{% endif %}</p>
            <p><strong>Achat minimum:</strong> CHF {{ voucher.minimum_purchase }}</p>
            <p><strong>Expire le:</strong> {{ voucher.date_expires|date:"Y-m-d H:i" }}</p>
        </div>
        <div class="footer">Valable jusqu'à expiration. Non transférable.</div>
    </div>
    {% if not forloop.last %}
    <pagebreak />
    {% endif %}
    {% endfor %}
</body>

</html>